ul{
    list-style: none;
}
/****************************清除高级搜索**************************************************/
.resspan{
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #333;
}
/****************************订单模块**************************************************/
#splitList_dialog .el-dialog__body{
    padding: 0;
    font-size: 12px;
}
.model_topcol2 .el-tabs__nav-wrap::after{
    height: 0px;
}
.model_topcol2{
    border-bottom: 1px solid #e4e8eb;
}
.logistics .el-tabs__nav-wrap::after{
    width: 0;
}
.mergeOderListTab .el-tabs__nav-wrap::after{
    width: 0;
}
.mergeOderListTab .el-tabs__nav-scroll{
    padding-left: 20px;
}
.mydialog .el-dialog {
    margin: 0;
    margin-left: 210px;
    height: 90%;
}
.mydialog .el-dialog__body{
    height: 90%;
    padding: 0;
    /* padding-bottom: 10px; */
}
.mydialog .el-dialog__header{
    padding: 0;
}
#orderList .table_item_title .el-button>i{
    margin-right: 5px !important;
}
/****************************自定义按钮**************************************************/
.logo_red{
    background: #ED3742;
    border-color: #ED3742;
}
.back_red{
    background: #ED3742;
}
.back_gray{
    background: #5f5f60;
}
.back_brown{
    background: #FF811B;
}
.color_red{
    color:  #ED3742;
}
.col_cyan{
    color: #B3D465;
}
.color_gray{
    color: #5f5f60;
}
.color_blue{
    color: #409EFF;
}
.color_brown{
    color: #FF811B;
}
.fontWe_500{
    font-weight: 500;
}
.fontWe_600{
    font-weight: 600;
}
.color_hover:hover{
    color: #409EFF;
    cursor: pointer;
}
.el-icon-close:hover{
    font-size: 18px;
    color: #409EFF;
    cursor: pointer;
}
.myCur{
    cursor: pointer;
}
.goods_popover{
    height: 320px;
}
#purchaseDetail_wrap .el-tabs__nav-scroll{
    padding-left: 20px;
    height: 46px;
}
#purchaseDetail_wrap .el-tabs__nav{
    height: 45px;
}
#purchaseDetail_wrap .el-tabs__header{
    margin: 0;
}
input[type="file"] {
    display: none;
}
.el-popover{
    min-width: 0;
}
/****************************elementUI消息弹框位置修改**************************************************/
.el-message{
    top: 30%;
}
/****************************elementUI表格样式自定义**************************************************/
.el-table__header th, .el-table__header tr{
    color: #606266;
    background: #F5F5F5;
}
.el-table__body{
    font-size: 12px;
    color: #606266;
}
.el-table__footer-wrapper tbody td{
    background: #ffffff
}
/* 采购商品详情 */
#purchaseDetail_wrap .el-table--border .el-table__header th{
    border-right: none;
}
/* 采购供应商 */
#supplier_form .el-upload--picture-card{
    width: 88px;
    height: 88px;
    line-height: 88px;
}
#addOrderForm .el-upload--picture-card{
    width: 88px;
    height: 88px;
    line-height: 88px;
}
#waitReview_Wrap .el-badge__content{
    padding: 12px 20px;
    line-height: 3px;
    background: #e9e9e9;
    color: #606266;
}
#chooseGoodWrap .el-table__body-wrapper{
    overflow: auto;
}
/****************************elementUI分页样式自定义**************************************************/
.el-pagination{
    height: 37px;
    padding-top: 12px;
}
/****************************elementUI表单样式自定义**************************************************/
/* 自定义form宽度 需加类名 myForm */
.myForm .el-form-item__content input{
    width: 194px;
}
.myForm .el-date-editor{
    width: 194px;
}
.myForm .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
    width: 390px;
}
/****************************各模块头部栏公共样式**************************************************/
.model_topcol{
    height: 46px;
    border-bottom: 1px solid #E4E7ED;
    color: #606266;
    line-height: 46px;
    padding-left: 25px;
    background: #ffffff;
    font-weight: 600;
    padding-right: 10px;
}
.model_topcol>div{
    float: right;
}
/****************************各模块底部栏公共样式**************************************************/
.model_footer{
    height: 50px;
    border-top: 1px solid #E4E7ED;
    text-align: right;
    padding-right: 20px;

}
/****************************各模块主体栏公共样式**************************************************/
.model_content{
    padding: 10px;
    background: #F5F5F5;
}
.model_content .model_content_inner{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #E4E7ED;
}
#editPassWordWrap .model_content_inner .el-form-item__content{
    height: 37px;
}
#editPassWordWrap .model_content_inner .el-form-item{
    height: 37px;
}
/* ***************************商品添加样式************************************************* */
.updata_box input[type="file"] {
    display: none;
}

.item_box .el-tree-node__content{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e8e8;
}
.items_top input[type="file"] {
    display: none;
}
.edititems_box .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px
}
.additems_box .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px
}
.brand_top input[type="file"] {
    display: none;
}
.addbrand_box .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px;
}
.pic_up .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.smallupload .el-upload--picture-card{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.smallupload .el-upload-list__item{
    width: 80px;
    height: 80px;
}
.pic_up .el-upload-list{
    margin-left: 30px
}
.pic_up .el-upload-list__item{
    width: 108px;
    height: 108px;
}
.upupload .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px;
}
.upupload .el-upload-list__item{
    width: 108px;
    height: 108px;
}
.img_up .el-upload-list__item{
    width: 108px;
    height: 108px;
}
.updata_box .el-upload-list__item{
    height: 108px;
    width: 108px;
}

.supply_check .el-tag .el-tag__close{
    top:-20px;
    right: 10px;
    background: #C2C6CC;
    color: white
}
.supply_check .el-tag .el-tag__close:hover{
    font-size: 12px
}
.share .el-upload--picture-card{
    width: 108px;
    height: 108px;
    line-height: 108px;
}
.other .el-tag{
    background: none;
    color: black;
    border: none;
    font-size: 14px
}
.other .el-icon-close{
    background: #c0c4ca;
    color: white;
    width: 18px;
    height: 18px;
    line-height: 18px
}
.other .el-icon-close:hover{
    font-size: 6px;
    background: #c0c4ca;
}
.share .el-form-item {
    margin-bottom: 0;
    height: 140px;
}
.AEgoods_box .el-table td{
    padding: 0
}
.AEgoods_box .el-table th{
    padding: 0;
}
.more_img .el-tabs__item{
    font-size: 16px;
}
.more_img .el-tabs__active-bar{
    width: 65px;
}
.img .el-carousel__arrow{
    height: 78px;
    width: 18px;
    border-radius: 0;
    position: relative
}
.standard .el-table th{
    background: white;
    padding: 0;
    text-align: center;
    width: 100px;
}
.standard .el-table td{
    padding: 0;
    text-align: center;
    height: 40px;
    width: 100px;
}
.up_box .el-upload{
    width: 89px;
    height: 32px;
    border-radius: 5px;
    background: #3f9fff;
    color:white;
    line-height: 32px ;
    text-align: center;
    margin-left: 30px
}
.user_top .el-tabs__header{
    margin-top: -2px;
    margin-bottom: 0
}
.user_top .el-tabs__item{
    line-height: 33px
}
.user_top .el-tabs__nav-wrap::after {
    height: 1px ;
}
.user_top .el-tabs__nav-wrap{
    padding-left: 30px
}

.add_box .el-tag__close:hover{
    font-size: 12px
}
.addbrand_box .el-tag__close:hover{
    font-size: 12px
}
.el-dialog__body .el-tag__close:hover{
    font-size: 12px
}
.el-dialog{
    box-shadow: none
}
.add_attr .el-icon-close:hover{
    font-size: 14px
}
.eltag .el-tag{
    color: #409EFF;
    font-size: 12px;
    background-color: rgba(64,158,255,.1);
    border: 1px solid rgba(64,158,255,.2);
    padding: 0 10px;
}
.tablebody .el-table__body-wrapper{
    height: 300px;
    overflow: auto;
    overflow-x: hidden
}
.tableDiv .el-input-group__prepend{
    padding: 0 10px
}
.elinputappend .el-input-group__append{
    padding: 0 10px
}
.position .el-checkbox__inner{
    border:1px solid #409EFF
}
